{% extends "layout.html" %}
{% block content %}
<div class="row mt-4">
    <div class="col-12">
        <h1 class="mb-4">MangoDB</h1>
        <p class="lead text-muted">Библиотека MangoDB</p>
    </div>
</div>

<div class="row mt-4">
    <!-- Карточка Книги -->
    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
            <div class="card-body text-center">
                <div class="display-1 mb-3">📕</div>
                <h3 class="card-title">Книги</h3>
                <p class="card-text text-muted">Менеджмент книг</p>
                <a href="/books" class="btn btn-primary mt-3">Управлять книгами</a>
            </div>
        </div>
    </div>
    
    <!-- Карточка Авторы -->
    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
            <div class="card-body text-center">
                <div class="display-1 mb-3">✍️</div>
                <h3 class="card-title">Авторы</h3>
                <p class="card-text text-muted">Менеджмент авторов</p>
                <a href="/authors" class="btn btn-success mt-3">Управлять авторами</a>
            </div>
        </div>
    </div>
    
    <!-- Карточка Отчеты -->
    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
            <div class="card-body text-center">
                <div class="display-1 mb-3">📊</div>
                <h3 class="card-title">Отчеты</h3>
                <p class="card-text text-muted">Отчеты</p>
                <div class="d-grid gap-2 mt-3">
                    <a href="/report/genres" class="btn btn-outline-primary">
                        Агрегация
                    </a>
                    <a href="/report/authors_activity" class="btn btn-outline-success">
                        Отчет по авторам
                    </a>
                    <a href="/report/books_by_year" class="btn btn-outline-info">
                        Книга по году
                    </a>
                    <a href="/search" class="btn btn-outline-warning">
                        Поиск
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
